*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
}
.header{
	width: 100%;
	height: 60px;
	background-color: #fff;
}
/*-------------------BODY---------------------------*/
body{
	background-color:#f5f2eb;
	color: #6e6a69;
	
}
section{
	margin: 30px 0px;

}
.logo{
	width: 150px;
	height: auto;
	float: right;
	margin-right: 5px;
}
/*----------------- the Style of search field-------- */
form.example input[type=text] {
  padding: 10px;
  font-size: 17px;
  border: 1px solid grey;
  float: left;
  width: 80%;
  background: #f1f1f1;
}
form.example{
	margin-top: 10px;
	margin-right: 10px;
	max-width:300px;
	float: right;


}

form.example button {
  float: right;
  width: 20%;
  padding: 10px;
  background: #2196F3;
  color: white;
  font-size: 17px;
  border: 1px solid grey;
  border-left: none;
  cursor: pointer;
}

form.example button:hover {
  background: #0b7dda;
}

form.example::after {
  content: "";
  clear: both;
  display: table;
}
/* ------------------BUTTONS-------------------------- */

.btn {
	background-color:#dcdee0; 
  border: none; 
  color:#6e6a69 ; 
 padding: 14px 28px; 
  cursor: pointer; 
  float: left;
  margin: 10px 20px;
  border-radius: 20px;
}
.btn:hover{
	background-color:#aeb3b8; 
}
/* ------------------NAVIGATION BAR-------------------------- */

.main-nav{
	margin-top: 10px;

}
div.sticky{
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #fff;
}

li {
  float: right;
}

li a {
  display: block;
  color: #6e6a69;
  text-align: center;
  padding: 15px 20px;
  text-decoration: none;
}

li a:hover {
 border-bottom: 1px solid #d4376b;

}
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}
.a-main-nav{
	float: left;
	text-decoration: none;
	margin: 20px 20px;

}
/* ------------------FIRST-PARA-------------------------- */

.first-para{
	width: 95%;
	height: 75px;
	background-color: #5b168a;
	margin-top: 15px;
	margin-right: 30px;

	border-radius: 25px;
}


.a-first-para{
	color: #decfe8;
	text-decoration: none;
	text-align: center;
	font-size: 40px;
    padding: 30px 450px;
    margin-bottom: 10px;
}
/* ------------------MAIN-SLIDE SECTION-------------------------- */

.main-slide{
	width: 100%;
	height: 450px;
	background-color: #f1f1f1; 
}


.slide-1{
	display: inline;
	float: right;
	width: 600px;
	height: 410px;
	margin-top: 10px;
	margin-right: 40px;


}
.rounded-slide-1-img-1{
	width: 670px;
	height: 415px;
	border-radius: 20px;
	

	 
}

.slide-2{
	display: inline;
	float: left;
	margin-left: 40px; 

}
.rounded-slide-2-img-1{
	width: 500px;
	height: 200px;
	margin-top: 10px;
	border-radius: 20px;

}
.rounded-slide-2-img-2{

width: 500px;
height: 200px;
margin-top: 10px;
border-radius: 20px;
}
/* ------------------SECOND SECTION-------------------------- */

.second{
	width: 100%;
	height: 500px;
	background-color: #daedaf;

}
.col{
	display: block;
	float:left;
	margin:10px 5px ;
	
}
.span-1-of-3 {
	width: 23.8%;
}
.flower{
	width: 200px;
	height: 200px;
	margin: 10px;
}
.plan-box
{
	background-color: #fff;
	border-radius: 20px;
	width: 90%;
	margin-left: 5%;
	margin-top: 15px;
	height: 450px;


}
.plan-box a{
	display: block;
	margin:35px 20px;
	text-decoration: none;
	color: #000;
}
.off{
	float: left;
	background-color: red;
	border: 1px solid ;
	border-radius: 10px;
	padding: 5px;
}

.plan-box-green{
	background-color: #daedaf;
	border-radius: 20px;
	width: 90%;
	margin-left: 5%;
	height: 350px;


}
.surprize {
	text-decoration: none;
	font-size: 30px;
	color: #c7060c;
	margin-top: 50px;
	margin-right: 50px;
}
.gift{
	width: 150px;
	height: 150px;
	margin-right: 60px;
	margin-top: 60px;

}
.btn-gift{
	display: block;
	margin: 150px 60px 10px 20px;
	padding: 10px 20px;
	border-radius: 15px;
	background-color: #daedaf;
}
/* ------------------THIRD SECTION-------------------------- */

.third{
	height: 400px;
	background-color: #faf0f7;
}
.box{
	background-color: #fff;
	border-radius: 20px;
	width: 90%;
	margin-left: 5%;
	margin-top: 15px;
	height: 350px;
}

.third-img{
	width: 200px;
	height: 200px;
	margin: 20px;
}
.box a{
	display: block;
	text-decoration: none;
	margin: 20px;
	font-size: 20px;
	color: #b85930; 
}
.box i{
	color:#ed7e4e;
	margin-right: 10px; 
}
/* ------------------FOURTH SECTION-------------------------- */

.Fourth{
	height: 500px;
	background-color: #faf0f7; 
}
h3{
	margin: 15px 20px;
}
.Fourth-p{
	margin-right: 20px;
}
.right{
	width: 75%;
	height: 450px;
	display: inline;
	float: right;
	margin-right: 20px;
	border-radius: 15px;
	background-color: #fff;
}
.span-1-of-4{
	width: 23%;
}
.box-4{
	background-color: #fff;
	border-radius: 5%;
	width: 80%;
	height: 300px;


}
.Fourth-right-img{
	width: 89%;
	height: 50%;
	margin-right: 5px;
}
.box-4 a{
	display: block;
	float: right;
	text-decoration: none;
	color: #b85930;
	margin:30px 20px ; 
	font-size: 15px; 
}
.box-4 p{
	text-align: center;
}

.box-4:hover{
	 border: 1px solid;
     padding: 1px;
     box-shadow: 1px #fafafa;
}

.left{
	display: inline;
	float: left;
	width: 25%;
	margin-left: 20px;
	border-radius: 15px;
	background-color: #fff;
}
.Fourth-left-img{
	width: 100px;
	height: 150px;
	margin: 20px 20px;
}
.box-left-4{
	background-color: #fff;
	border-radius: 5%;
	width: 80%;
	height: 300px;
}
.box-left-4 a{
	display: block;
	float: right;
	text-decoration: none;
	color: #b85930;
	margin:20px ;  
}